.form {
    margin: 30px;
    .narrow {
        width: 75px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .description {
        width: 300px;
    }
    input, button {
        outline: none;
        border: 1px solid rgb(75, 75, 75);
        padding: 10px;
    }
    button {
        width: 75px;
        color: white;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background: #1b5e20;
        transition: 0.2s ease;
        &:hover {
            cursor: pointer;
            background: rgb(58, 58, 58);
        }
    }
}